@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

body {
  font-family: "Courier New", Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 6px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  background: linear-gradient(to top right, #43389f 0%, #4ec6ca 100%);
  overflow: hidden;
  color: #333;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.number {
  position: relative;
  height: 100px;
  width: 200px;
}

.one-tip {
  position: absolute;
  top: 0px;
  left: -15px;
  background: white;
  width: 22px;
  height: 45px;
  border-radius: 3px;
  transform: rotate(50deg);
  z-index: 1;
}

.one-stroke {
  position: absolute;
  top: 0px;
  background: white;
  width: 25px;
  height: 100px;
  border-radius: 3px;
  box-shadow: 0 0 13px 0 rgb(0 0 0 / 20%);
  z-index: 3;
}

.first-zero,
.second-zero {
  position: absolute;
  top: 0;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 20px solid white;
  box-shadow: 0 0 13px 0 rgb(0 0 0 / 20%);
}

.first-zero {
  z-index: 2;
  left: 10px;
}

.second-zero {
  left: 100px;
  z-index: 1;
}

.days {
  position: relative;
  display: block;
  font-size: 82px;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  margin-top: 5px;
}

.challenge {
  position: relative;
  color: white;
  text-transform: uppercase;
  display: block;
  font-size: 24px;
  font-weight: 700;
  line-height:20px;
}
